[Unit]
Description=HAProxy Load Balancer
After=syslog.target network.target

[Service]
User={{app.value.haproxy.user.user}}
ExecStart=/usr/sbin/haproxy-systemd-wrapper -f {{app.value.haproxy.user.home}}/haproxy/conf/haproxy.cfg -p {{app.value.haproxy.user.home}}/haproxy/run/haproxy.pid
ExecReload=/bin/kill -USR2 $MAINPID
KillMode=mixed

[Install]
WantedBy=multi-user.target
